body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    width: 800px;
}

.top-section{
    background: #1F2937;
}

.footer{
    background: #1f2937
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 300px;
    padding-left: 75px;
    margin-bottom: -20px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    max-width: 375px;
    padding-left: 75px;
}

.header a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
}

.top-signup-button {
    background-color: lightskyblue;
    padding: 8px 32px;
    border-radius: 5px;
    margin-left: 75px;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 15px;
}


.main-pic{
    width: 300px;
    height: auto;
    display: flex;
    padding-left: 475px;
    margin-top: -200px;
    padding-bottom: 25px;
}

.header-links ul{
    display: flex;
    gap:30px;
    list-style-type: none;
    padding-right: 30px;
}

.top-middle-content {
    margin-top: -50px;
}

.subpic{
    width: 100px;
    height: 100px;
    border: 5px solid lightskyblue;
}

.header-middle-top-section {
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
}

.middle-top-section {
    font-size: 15px;
    text-align: center;
}

.square-tiles {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.subtext {
    max-width: 100px;
}

.middle-bottom-section {
    background: #e5e7eb;
    color: #1f2937;
    padding: 50px;
    padding-left: 175px;
}

.main-quote {
    font-weight: 100;
    max-width: 500px;
    font-style: italic;
    font-size: 18px;
}

.quote-author {
    font-size: 18px;
    font-weight: 900;
    padding-left: 360px;
}

.bottom-section {
    display: flex;
    padding: 50px;
    color: white;
}

.bottom-container {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    padding: 10px 90px 10px 75px;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -29px;
    justify-content: center;
    align-items: center;
}

.bottom-signup-button {
    background-color: #3882f6;
    padding: 8px 32px;
    border-radius: 5px;
    border: 3px solid white;
    color: white;
}

.box-section {
    font-weight: 900;
}

.bottom-but {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

.bottom-text {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -30px;
    padding-top: 21px;
    padding-bottom: 15px;
    font-size: 12px;
}
